<div class="list">
  {{#each films}}
    <div class="card">
      <p class="name">{{title}}</p>
      <img src="{{image}}" alt="">
      <div class="info">
        <p class="desc">{{description}}</p>
        <a href="/movies/{{this.id}}">See more</a>
      </div>
    </div>
  {{/each}}
</div>